@using Newtonsoft.Json;
@model LegoProdavnica.Models.Proizvod

@{
    ViewData["Title"] = "DetailedView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string userString = "";
    bool result = Context.Request.Cookies.TryGetValue("token", out userString);
    Profil user = new Profil();
    user.UlogaId = -1;

    if (result) {
        user = JsonConvert.DeserializeObject<Profil>(userString);
    }
}

<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="@Model.Slika", alt="..." />
            </div>
            <div class="col-md-6 mt-4">
                <div class="small mb-1">
                    <h1 class="display-5 fw-bolder">@Model.Naziv</h1>
                </div>
                <hr>
                <div class="fs-5">
                    <span>Cena: @Model.Cena RSD</span>
                </div>
                <div class="fs-5">
                    <span>Pakovanje: @Model.Pakovanje</span>
                </div>
                <div class="fs-5">
                    <span>Godine: @Model.Godine</span>
                </div>
                <div class="fs-5">
                    <span>Tip: @Model.Tip</span>
                </div>
            </div>
        </div>
        @if (user.UlogaId == -1) {
            <h5>Morate se ulogovati da bi dodali u korpu.</h5>
        } else {
            <button type="button" class="btn btn-outline-primary cartBtn mt-2" onclick="location.href='@Url.Action("addToCart", "Proizvod", Model)'" >Dodaj u korpu</button>
            <button type="button" class="btn btn-outline-primary cartBtn mt-2" data-bs-toggle="modal" data-bs-target="#naruciModal">Naruci</button>
            <button type="button" class="btn btn-outline-primary cartBtn mt-2" data-bs-toggle="modal" data-bs-target="#rezervisiModal">Rezervisi</button>
        }
    </div>
</section>
<hr />
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <h2>Ocene</h2>
        <br />       

        @if (result) {
            <form asp-action="oceni" asp-controller="Proizvod" method="post" >
                <input type="hidden" name="user" value="@user.ProfilId" />
                <input type="hidden" name="item" value="@Model.ProizvodId" />
                <button type="submit" class="btn btn-outline-primary cartBtn mb-2" onclick="location.href='@Url.Action("oceni", "Proizvod", Model)'" >Oceni</button>
                <input type="number" min="1" max="5" name="ocena" value="1"/>
            </form>
        }

        <div class="row">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Otvori
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            @foreach (var rec in Model.Recenzijas) {
                                <div class="card p-2 ml-2">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            @rec.DatumKreacija
                                        </div>
                                        <div class="col-4 text-center">
                                            <div class="h5 ml-2">@rec.Korisnik.KorisnickoIme</div>
                                        </div>
                                        <div class="col-3 text-center"></div>
                                        <div class="col-3 text-center">
                                            @rec.Ocena / 5
                                        </div>
                                    </div>
                                    
                                </div>
                            }
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
</section>

<div class="modal fade" id="naruciModal" role="dialog">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header d-flex">
                    <h3>Naruci</h3>
                    <div class="justify-content-end" >
                    <button type="button" class="close bg-transparent border-0" data-bs-dismiss="modal" aria-label="Close"><span class="lead" aria-hidden="true">&times;</span></button>
                    </div>
            </div>
            <div class="modal-body" id="cartDisplayList">
                <h5>Ime proizvoda: @Model.Naziv</h5> <br />
                <h5>Cena proizvoda: @Model.Cena RSD + 450 RSD dostava.</h5> <br />
                <h5>Vreme isporuke je 3 - 5 radnih dana.</h5>
                <hr />
                <form asp-action="naruci" asp-controller="Proizvod" method="post">
                    <label for="adresa">Adresa za dostavu:</label>
                    <br />
                    <input class="form-control mb-2" type="text" name="adresa" />
                    <br />
                    <button type="submit" class="btn btn-outline-primary cartBtn" onclick="location.href='@Url.Action("naruci", "Proizvod")'" >Naruci</button>
                    <input type="hidden" name="user" value="@user.ProfilId" />
                    <input type="hidden" name="item" value="@Model.ProizvodId" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rezervisiModal" role="dialog">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header d-flex">
                    <h3>Naruci</h3>
                    <div class="justify-content-end" >
                    <button type="button" class="close bg-transparent border-0" data-bs-dismiss="modal" aria-label="Close"><span class="lead" aria-hidden="true">&times;</span></button>
                    </div>
            </div>
            <div class="modal-body" id="cartDisplayList">
                <h5>Ime proizvoda: @Model.Naziv</h5> <br />
                <h5>Cena proizvoda: @Model.Cena RSD + 450 RSD dostava.</h5>
                <hr />
                <form asp-action="rezervisi" asp-controller="Proizvod" method="post">
                    <label for="datum">Dan za preuzimanje:</label>
                    <br />
                    <input class="form-control mb-2" type="date" name="datum" />
                    <br />
                    <button type="submit" class="btn btn-outline-primary cartBtn" onclick="location.href='@Url.Action("rezervisi", "Proizvod")'" >Rezervisi</button>
                    <input type="hidden" name="user" value="@user.ProfilId" />
                    <input type="hidden" name="item" value="@Model.ProizvodId" />
                </form>
            </div>
        </div>
    </div>
</div>