@model IEnumerable<LegoProdavnica.Models.Narudzbina>

@{
    ViewData["Title"] = "ListOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Lista narudzbina</h1>

    <p>
        <a asp-action="Create">Napravi novi</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                        @Html.DisplayNameFor(model => model.NarudzbinaId)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.DatumKreacije)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.DatumDostave)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Adresa)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.KorisnikId)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.ProizvodId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => item.NarudzbinaId)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.DatumKreacije)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.DatumDostave)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Adresa)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.KorisnikId)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.ProizvodId)
                    </td>
                    <td>
                            @* Ovo srediti za manipulaciju narudzbinama *@
                            @Html.ActionLink("Izmeni", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Detalji", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Obrisi", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
                }
        </tbody>
    </table>

</div>